<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>포스트 보기</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="/css/style.css" type="text/css" rel="stylesheet">
</head>
<body>

    <th:block th:replace="~{common/nav}"></th:block>

    <div class="d-flex justify-content-center">
        <div class="mx-5 w-500">

            <div>
                <div>
                    <h1 th:text="${data.title}"></h1>
                    <span th:if="${data.open.toString().equals('Y')}">공개</span>
                    <span th:if="${data.open.toString().equals('N')}">비공개</span>
                </div>

                <div class="d-flex justify-content-end align-items-center">
                    <img th:src="${data.image}" class="img-thumbnail post-nav-image" alt="">
                    <div class="mx-3" th:text="|${data.name}(${data.userId})|"></div>
                    <div class="mx-3" th:text="${data.regDate}"></div>
                </div>
            </div>

            <hr/>

            <div th:text="${data.content}">
            </div>

            <hr/>

            <div>
                <div class="mb-2">댓글 <span class="fw-bold" th:text="${data.commentResponseDtoList.size()}"></span></div>
                <div class="commentDiv">

                    <th:block th:each="obj : ${data.commentResponseDtoList}">
                        <div class="border-bottom ms-0 mb-3 commentElement" th:id="${obj.commentId}">
                            <div class="d-flex justify-content-between">
                                <div th:text="|${obj.name}(${obj.userId})|"></div>
                                <div class="buttonDiv" th:if="${#authentication.name} == ${obj.userId} and ${obj.deleted.toString().equals('N')}">

                                    <!-- 타임리프 : 인텔리제이에서 오류나는데 실제 브라우저에서는 오류 안남 -->
                                    <button class="btn btn-sm btn-success submitBtn" type="button" th:onclick="openCommentModifyForm([[${obj.commentId}]], [[${obj.userId}]], [[${obj.name}]])">수정</button>
                                    <button class="btn btn-sm btn-danger ms-1 submitBtn" type="button" th:onclick="deleteComment([[${obj.commentId}]])">삭제</button>
                                </div>
                            </div>

                            <div class="content" th:if="${obj.deleted.toString().equals('N')}" th:text="${obj.content}"></div>
                            <div class="content" th:if="${obj.deleted.toString().equals('Y')}">삭제된 댓글입니다</div>

                            <div>
                                <div th:text="${obj.regDate}"></div>
                                <!--
                                <div>답글 쓰기</div>
                                -->
                            </div>
                        </div>
                    </th:block>

                    <!-- 댓글 작성 영역 -->
                    <div id="" class="border ps-3 mb-3" sec:authorize="isAuthenticated()">
                        <div th:text="${#authentication.principal.name}"></div>
                        <div>
                            <textarea type="text" class="form-control" id="content"></textarea>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-sm btn-success submitBtn" type="button" th:onclick="insert()">등록</button>
                        </div>
                    </div>

                </div>
            </div>


            <!--
            <div>
                <div class="mb-2">댓글 <span class="fw-bold">10</span></div>
                <div>
                    <div class="border-bottom ms-0 mb-3">
                        <div>
                            글쓴이
                        </div>
                        <div>
                            내용
                        </div>
                        <div>
                            <div>2024.10.06. 23.50</div>
                            <div>답글 쓰기</div>
                        </div>
                    </div>

                    <div class="border-bottom ps-3 mb-3">
                        <div class="d-flex justify-content-between">
                            <div>
                            글쓴이2
                            </div>
                            <div>
                                <button class="btn btn-sm btn-success" type="submit">수정</button>
                                <button class="btn btn-sm btn-danger ms-1" type="submit">삭제</button>
                            </div>
                        </div>
                        <div>
                            대댓글
                        </div>
                        <div>
                            <div>2024.10.06. 23.50</div>
                        </div>
                    </div>

                    <div class="border ps-3 mb-3">
                        <div>글쓴이</div>
                        <div>
                            <textarea type="text" class="form-control" id="content"></textarea>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-sm btn-success" type="submit">등록</button>
                            <button class="btn btn-sm btn-danger ms-1" type="submit">취소</button>
                        </div>
                    </div>
                </div>
            </div>
            -->

            <div class="d-flex justify-content-end">
                <th:block th:if="${#authentication.name} == ${data.userId}">
                    <button class="btn btn-success ms-1 submitBtn" type="button" th:onclick="|modify('${data.postId}')|">수정</button>
                    <button class="btn btn-danger ms-1 submitBtn" type="button" th:onclick="deletePost()">삭제</button>
                </th:block>
                <button class="btn btn-primary ms-1" type="button" th:onclick="list()">리스트</button>
            </div>

        </div>

    </div>

    <th:block th:replace="~{common/bottom}"></th:block>
    <script src="/js/common.js"></script>

    <script>
        /*<![CDATA[*/

        function modify(postId){
            location.href='/post/' + postId + "/modify";
        }

        function deletePost(){

            if(!confirm('삭제하시겠습니까?')){
                return;
            }

            disableButton();

            const json = JSON.stringify({
                postId : `[[${data.postId}]]`
            });

            $.ajax({
                url: "/v1/post",
                type: "DELETE",
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data : json,
                success: function (data, status, xhr) {
                    if(data.code === "200"){
                        alert('게시글 삭제 성공')
                        location.href = "/post/list"
                    }else{
                        alert('게시글 삭제가 실패하였습니다.');
                    }
                },
                error: function (data, status, xhr) {
                    alert(data.responseJSON.message);
                },
            });

            enableButton();
        }

        function insert(){

            if(!checkBlank("content")){
                alert('내용을 입력해주세요');
                return;
            }

            if(!confirm('등록하시겠습니까?')){
                return;
            }

            disableButton();

            const json = JSON.stringify({
                userId : '[[${#authentication.name}]]'
                , postId : `[[${data.postId}]]`
                , content : $("#content").val()
            })

            $.ajax({
                url: "/v1/comment",
                type: "POST",
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data : json,
                success: function (data, status, xhr) {
                    if(data.code === "201"){
                        alert('댓글 등록 성공');
                        appendCommentDiv(data.data);
                    }
                },
                error: function (data, status, xhr) {
                    alert(data.responseJSON.message);
                },
            });

            enableButton();
        }

        function appendCommentDiv(data){


        }

        function openCommentModifyForm(commentId, userId, name) {
            closeCommentModifyForm();

            let target = $("#" + commentId);
            let content = target.find('div.content').text();

            target.addClass("d-none");

            let html = "";
            html += '<div id="commentModForm" class="commentModForm border ps-3 mb-3">';
            html += '<div>' + name + "(" + userId + ")"+'</div>';
            html += '<div>';
            html += '<textarea type="text" class="form-control" id="content">' + content + '</textarea>';
            html += '</div>'
            html += '<div class="d-flex justify-content-end">'
            html += '<button class="btn btn-sm btn-outline-success submitBtn" type="button" onclick="commentModifyAjax(\'' + commentId + '\')">수정</button>';
            html += '<button class="btn btn-sm btn-outline-danger submitBtn ms-1" type="button" onclick="closeCommentModifyForm('+commentId+')">취소</button>';
            html += '</div>';
            html += '</div>';

            target.after(html);
        }

        function closeCommentModifyForm(commentId){
            $(".commentDiv").find('div.commentModForm').remove();

            const commentList = $(".commentDiv").find('div.commentElement');
            for(let i=0; i<commentList.length; i++){
                if(commentList.hasClass("d-none")){
                    commentList.removeClass("d-none");
                }
            }
        }

        function commentModifyAjax(commentId){

            if($(".commentModForm").find('textarea').val().trim() === ''){
                alert('내용을 입력해주세요');
                return;
            }

            disableButton();

            const json = JSON.stringify({
                commentId : commentId
                , content : $(".commentModForm").find('textarea').val()
            });

            $.ajax({
                url: "/v1/comment",
                type: "PUT",
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data : json,
                success: function (data, status, xhr) {
                    if(data.code === "200"){
                        alert('댓글 수정 성공');
                        $(".commentDiv").find('div#'+commentId).find('.content').text(data.data.content);
                        closeCommentModifyForm();
                    }
                },
                error: function (data, status, xhr) {
                    alert(data.responseJSON.message);
                },
            });

            enableButton();
        }

        function deleteComment(commentId){

            if(!confirm('삭제하시겠습니까?')){
                return;
            }

            const json = JSON.stringify({
                commentId : commentId
            });

            disableButton();

            $.ajax({
                url: "/v1/comment",
                type: "DELETE",
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data : json,
                success: function (data, status, xhr) {
                    if(data.code === "200"){
                        alert('댓글 삭제 성공');
                        $(".commentDiv").find('div#'+commentId).find('.content').text('삭제된 댓글입니다');
                        $(".commentDiv").find('div#'+commentId).find('.buttonDiv').remove();
                    }else{
                        alert(data.data.message);
                    }
                },
                error: function (data, status, xhr) {
                    alert(data.responseJSON.message);
                },
            });

            enableButton();
        }

        /*]]>*/
    </script>

</body>
</html>